# Function

In [1]:
#Define a function

def birthday_kartik():
    """Print birthday greeting for kartik"""
    print("Happy birthday to you!")
    print("Happy birthday to you!")
    print("Happy birthday, dear kartik.")
    print("Happy birthday to you!")

In [3]:
#Call a function

print('Function call 1')
birthday_kartik()
print()

print('Function call 2')
birthday_kartik()
print()

print('Function call 3')
birthday_kartik()
print()

Function call 1
Happy birthday to you!
Happy birthday to you!
Happy birthday, dear kartik.
Happy birthday to you!

Function call 2
Happy birthday to you!
Happy birthday to you!
Happy birthday, dear kartik.
Happy birthday to you!

Function call 3
Happy birthday to you!
Happy birthday to you!
Happy birthday, dear kartik.
Happy birthday to you!

In [6]:
#Call a function from within another function

def newLine():
    """Print a new line"""
    print()
    
def twoNewLine():
    newLine()
    newLine()
    
print("Printing a single line...")
newLine()
print("Printing two lines...")
twoNewLine()

Printing a single line...

Printing two lines...

In [8]:
#Help command for functions
help(birthday_kartik)
type(birthday_kartik)

Help on function birthday_kartik in module __main__:

birthday_kartik()
    Print birthday greeting for kartik

function

In [11]:
#Function with inputs

def happyBirthday(name):
    """Print birthday message with the 'name' of the person inputted"""
    print("Happy birthday to you!")
    print("Happy birthday to you!")
    print(f"Happy birthday, dear {name}.")
    print("Happy birthday to you!")
    
happyBirthday("kartik")
my_name = "kartik"
newLine()
happyBirthday(my_name)

Happy birthday to you!
Happy birthday to you!
Happy birthday, dear kartik.
Happy birthday to you!

Happy birthday to you!
Happy birthday to you!
Happy birthday, dear kartik.
Happy birthday to you!

In [22]:
#Functions with multiple parameters

def multiply(x, y):
    """Multiply integer x by y"""
    result = x * y
    return result

multiply(1023, 409)

418407

In [23]:
#Functions with multiple outputs

def calculate(x, y):
    """Calculate the product and sum of the two numbers"""
    product = x*y
    summed = x+y
    
    return product, summed

var1, var2 = calculate(10, 9)

print("product:",var1,"sum:",var2)

product: 90 sum: 19

In [24]:
#Lambda - anonymus function

double = lambda x: x*2

print(double(7))

14

In [25]:
#Lambda function to filter even items in a list

my_list = [1,4,3,5,6,7,8,9]
new_list = list(filter(lambda x: (x%2 == 0), my_list))

print("Even numbers in the list:", new_list)

Even numbers in the list: [4, 6, 8]

In [26]:
#Lambda function to double the item in a list
new_list = list(map(lambda x: x * 2, my_list))

print("Double values are:", new_list)

Double values are: [2, 8, 6, 10, 12, 14, 16, 18]

In [27]:
#lambda function with reduce()
from functools import reduce
list1 = [20, 15, 3, 6, 9]
add = reduce(lambda x, y:x+y, list1)

print("Addition of all items in list:", add)

Addition of all items in list: 53

# Object Oriented Programming

In [28]:
#Using Class

class parrot:
    pass

class person:
    pass

print(parrot)

<class '__main__.parrot'>

In [29]:
#Objects

obj = parrot()

p = person()

print(p)

<__main__.person object at 0x0000024786AEDC10>

In [30]:
#Creating class and object in Python

class Student:
    """Student class with data"""
    def learn(self):
        print("Welcome to AI Mastery Program")
        
stud = Student()
stud.learn()

Welcome to AI Mastery Program

In [32]:
#Class constructor
class Person:
    def __init__(self, firstName, lastName, age, country, city):
        self.firstName = firstName
        self.lastName = lastName
        self.age = age
        self.country = country
        self.city = city
        
p = Person('Milan', 'Parmar', 96, 'England', 'London')
print(p.firstName)
print(p.lastName)
print(p.age)
print(p.country)
print(p.city)

Milan
Parmar
96
England
London

In [33]:
#Another constructor examples
class Student:
    def __init__(self, name, percentage):
        self.name = name
        self.percentage = percentage
    
    def show(self):
        print("Name is", self.name, "and percentage is", self.percentage)
        
stud = Student("Peter", 100)
stud.show()

Name is Peter and percentage is 100

In [35]:
#Access object information

class Parrot:
    species = "bird"
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
#Initiate Parrot instances
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

#Access class' attributes
print("Blu is a {}".format(blu.species))
print("Woo is also a {}".format(woo.species))


#Access the instance's attributes
print("{} is {} years old".format(blu.name, blu.age))
print("{} is {} years old".format(woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [37]:
class Person:
    def __init__(self, firstname, lastname, age, country, city):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city
    
    def person_info(self):
        return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
        
p = Person('Milaan', 'Parmar', 96, 'England', 'London')
print(p.person_info())

Milaan Parmar is 96 years old. He lives in London, England.

In [38]:
class Parrot:
    species = "bird"
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def sing(self, song):
        return "{} sings {}".format(self.name, song)
    
    def dance(self):
        return "{} is dancing".format(self.name)
    
#Initiate Parrot instance
blu = Parrot("Blu", 10)

#Call instance's methods
print(blu.sing("Happy"))
print(blu.dance())

Blu sings Happy
Blu is dancing

In [39]:
#Object Default Methods
class Person:
    def __init__(self, firstname='Milaan', lastname='Parmar',
    age=96, country='England', city='London'):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city
    
    def person_info(self):
        return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'

p1 = Person()
print(p1.person_info())
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.

In [41]:
#Method to modify Class default values
class Person:
    def __init__(self, firstname='Milaan', lastname='Parmar',
    age=96, country='England', city='London'):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city
        self.skills = []
    
    def person_info(self):
        return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
    
    def add_skill(self, skill):
        self.skills.append(skill)

p1 = Person()
print(p1.person_info())
p1.add_skill('Python')
p1.add_skill('MATLAB')
p1.add_skill('R')
p2 = Person('Ben', 'Doe', 30, 'Finland', 'Tampere')
print(p2.person_info())
print(p1.skills)
p2.add_skill('Photoshop')
print(p2.skills)

Milaan Parmar is 96 years old. He lives in London, England.
Ben Doe is 30 years old. He lives in Tampere, Finland.
['Python', 'MATLAB', 'R']
['Photoshop']

In [43]:
#Inheritance
class ClassOne:
    def func1(self):
        print("This is the parent class")

class ClassTwo(ClassOne):
    def func2(self):
        print("This is child class")
        
obj = ClassTwo()
print(obj.func1)
print(obj.func2)

<bound method ClassOne.func1 of <__main__.ClassTwo object at 0x0000024786ADF760>>
<bound method ClassTwo.func2 of <__main__.ClassTwo object at 0x0000024786ADF760>>

In [45]:
class Person:
    def __init__(self, firstname='Milaan', lastname='Parmar',
    age=96, country='England', city='London'):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city
        self.skills = []
    
    def person_info(self):
        return f'{self.firstname} {self.lastname} is {self.age} years old. He lives in {self.city}, {self.country}.'
    
    def add_skill(self, skill):
        self.skills.append(skill)

class Student(Person):
    pass
        
s1 = Student('Arthur', 'Curry', 33, 'England', 'London')
s2 = Student('Emily', 'Carter', 28, 'England', 'Manchester')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Arthur Curry is 33 years old. He lives in London, England.
['HTML', 'CSS', 'JavaScript']
Emily Carter is 28 years old. He lives in Manchester, England.
['Organizing', 'Marketing', 'Digital Marketing']

In [46]:
class Student(Person):
    def __init__ (self, firstname='Milaan', lastname='Parmar',age=96,
    country='England', city='London', gender='male'):
        self.gender = gender
        super().__init__(firstname, lastname,age, country, city)
    
    def person_info(self):
        gender = 'He' if self.gender =='male' else 'She'
        return f'{self.firstname} {self.lastname} is {self.age} years old. {gender} lives in {self.city}, {self.country}.'
    
s1 = Student('Arthur', 'Curry', 33, 'England', 'London','male')
s2 = Student('Emily', 'Carter', 28, 'England', 'Manchester','female')
print(s1.person_info())
s1.add_skill('HTML')
s1.add_skill('CSS')
s1.add_skill('JavaScript')
print(s1.skills)

print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Arthur Curry is 33 years old. He lives in London, England.
['HTML', 'CSS', 'JavaScript']
Emily Carter is 28 years old. She lives in Manchester, England.
['Organizing', 'Marketing', 'Digital Marketing']

In [48]:
#Encapsulation

class Computer:
    def __init__(self):
        self.__maxprice = 900
        
    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))
        
    def setMaxPrice(self, price):
        self.__maxprice = price
        
c = Computer()
c.sell()

#Change price
c.__maxprice = 1000
c.sell()

#Use setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

In [49]:
#Polymorphism

class Parrot:
    def fly(self):
        print("Parrots can fly")
        
    def swim(self):
        print("Parrots can't swim")
        
class Penguin:
    def fly(self):
        print("Penguins can't fly")
        
    def swim(self):
        print("Penguins can swim")
        
#Common interface
def flying_test(bird):
    bird.fly()
    
#Initiate objects
blu = Parrot()
peggy = Penguin()

#Passing the objects
flying_test(blu)
flying_test(peggy)

Parrots can fly
Penguins can't fly