## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Load Dataset

In [2]:
df = pd.read_csv('Market_Basket_Optimisation.csv', header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# cek tipe data dari setiap kolom
print('Dataset Information: \n')
print(df.info())

Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB
None

In [4]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\naufsl\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: setuptools in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\naufsl\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: cycler>=0.10 in c:\users\naufsl\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\naufsl\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\naufsl\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\naufsl\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\naufsl\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\naufsl\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\naufsl\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\naufsl\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [5]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules, apriori

## Data Cleaning & Pre-Processing

In [6]:
## Data Cleaning step

# replacing empty value with 0.
df.fillna(0,inplace=True)

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7498,chicken,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,escalope,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
# Data Pre-processing step

#for using aprori need to convert data in list format..
# transaction = [['apple','almonds'],['apple'],['banana','apple']]....
transactions = []
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [9]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

## Market Basket Analysis

In [10]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df2 = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
frequent_itemsets = apriori(df2, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.0)
metrix = pd.DataFrame(rules)
metrix[['antecedents','consequents', 'support', 'confidence', 'lift']].sort_values('lift', ascending=False)

,antecedents,consequents,support,confidence,lift
215,(herb & pepper),(ground beef),0.015998,0.323450,3.291994
214,(ground beef),(herb & pepper),0.015998,0.162822,3.291994
385,(ground beef),"(spaghetti, mineral water)",0.017064,0.173677,2.907928
384,"(spaghetti, mineral water)",(ground beef),0.017064,0.285714,2.907928
396,"(spaghetti, mineral water)",(olive oil),0.010265,0.171875,2.609786
...,...,...,...,...,...
155,(french fries),(low fat yogurt),0.013332,0.078003,1.019340
131,(olive oil),(eggs),0.011998,0.182186,1.013783
130,(eggs),(olive oil),0.011998,0.066766,1.013783
144,(escalope),(spaghetti),0.013998,0.176471,1.013557
145,(spaghetti),(escalope),0.013998,0.080398,1.013557

In [12]:
metrix[['antecedents','consequents', 'support', 'confidence', 'lift']].sort_values('confidence', ascending=False)

,antecedents,consequents,support,confidence,lift
342,"(eggs, ground beef)",(mineral water),0.010132,0.506667,2.125563
376,"(milk, ground beef)",(mineral water),0.011065,0.503030,2.110308
318,"(chocolate, ground beef)",(mineral water),0.010932,0.473988,1.988472
365,"(milk, frozen vegetables)",(mineral water),0.011065,0.468927,1.967236
272,(soup),(mineral water),0.023064,0.456464,1.914955
...,...,...,...,...,...
323,(mineral water),"(chocolate, ground beef)",0.010932,0.045861,1.988472
398,(mineral water),"(olive oil, spaghetti)",0.010265,0.043065,1.878079
45,(mineral water),(cereals),0.010265,0.043065,1.673729
363,(mineral water),"(spaghetti, french fries)",0.010132,0.042506,1.540263
347,(mineral water),"(eggs, ground beef)",0.010132,0.042506,2.125563

## Kesimpulan
Dilihat dari analisis di atas, kita dapat melihat bahwa item yang paling besar kemungkinan akan dibeli bersamaan adalah *herb & pepper* dan *ground beef* dari nilai liftnya yang tinggi, namun dari nilai confidencenya kita juga mendapat insight bahwa kemungkinan orang untuk membeli kombinasi *herb & pepper* dan *ground beef* lebih tinggi jika orang tersebut membeli *herb & pepper*. Prinsip yang sama juga dapat kita simpulkan dari value support, confidence, dan lift dari kombinasi-kombinasi lainnya.
Kita juga menemukan bahwa *mineral water* merupakan konsekuensi yang paling populer dari kombinasi-kombinasi yang memiliki nilai confidence tertinggi merupakan kombinasi yang memiliki *mineral water* sebagai konsekuensi.